* {
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
}

body {
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: center;
}

h1 {
    text-align: center;
}

.screen {
    position: relative;
    height: 110px;
    width: 210px;
    border: 5px solid black;
    background: gray;

}

.vertical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 2.5px solid black;
    border-right: 2.5px solid black;
    height: 100px;
}

.animationContainer {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 75%;
    background-color: black;
    position: relative;
    animation: visualMetronome linear infinite alternate;
    animation-duration: 0.6s;
}

.controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100px;
    width: 210px;
    background-color: powderblue;
}

@keyframes visualMetronome {
    0% {left: 0px}
    100% {left: 100px}
}

#gitimg {
    height: 25px;
    width: 25px;
}

#playpause {
    height: 25px;
    width: 25px;
}

#volume {
    height:25px;
    width:25px;
}